.parent{
    background-color: #3385ff;
    
    padding: 5px;
}
.childOne{
    background-color: #33ff77;
    
    padding: 5px;
}
.childTwo{
    background-color: #ff6d33;
    
    padding: 5px;
}
.childThree{
    background-color: #ef74ff;
    
    padding: 5px;
}










.parent{
    
}


.childOne{
    
}


.childTwo{
    
}


.childThree{
    
}







